:root{
    --main-color: #222831;
    --text-color: #fff;
}

@-webkit-keyframes opening {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

@-webkit-keyframes switching {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

@-webkit-keyframes switching2 {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

@-moz-keyframes opening {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

@-moz-keyframes switching {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

@-moz-keyframes switching2 {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

@-o-keyframess opening {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

@-o-keyframes switching {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

@-o-keyframes switching2 {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

#main{
    animation-duration: 3s;
    animation-name: opening;
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:center;
    align-items: center;
    width:auto;
    margin:0 auto;
    height:400px;
}

.photo{
    float: left;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    margin-right: 20px;
    margin-top: 15px;
    background: url("https://github.com/kyshi.png?size=120") no-repeat;
}

.text{
    float: left;
    width: 350px;
}

.social-media{
    padding-left: 5px;
}

.theme-button{
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    float: right;
    right: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: #FFF
}

body{
    background-color: var(--main-color);
}

p::after{   
    animation-duration: 1s;
    animation-name: switching;
    content: "I am doing something.";
}
  
p:hover::after {
    animation-duration: 1s;
    animation-name: switching2;
    content: "You can contact me from Discord\aYou can reach my repository from Github";
    white-space: pre-wrap;
}